


button {
  cursor: pointer;
  }

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.link {
  text-decoration: none;
  color: currentColor;
}



.list {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.logo-dark {
color: #2E2F42;
}

.logo-light {
  color: #F4F4FD;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.nav-hover:hover,
.nav-hover:focus {
  color: #404bbf;
}

.header-addres {
  font-style: normal;
}

.addres-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.addres-hover:hover,
.addres-hover:focus {
  color: #404bbf;
}

.hero {
  background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }

.link-hover:hover,
.link-hover:focus {
    background-color: #404BBF;
  }

.feature-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .feature-list-title-text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
  }

.our-team {
  background-color: #F4F4FD;
  }

.card {
  background-color: #FFFFFF;
}

.our-team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.our-team-title-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .our-team-text-card {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
  }

  .portfolio {
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      text-align: center;
      color: #2e2f42;
  }

  .portfolio-title-card {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
  }

.portfolio-text-card {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .footer {
    background-color: #2E2F42;
  }

  .footer-text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #F4F4FD;
  }
